<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <h1>A Aviação</h1>
    <a href="index.html">Início</a>
    <a href="avioes.html">Aviôes</a>
    <a href="historia.html">História</a>
    <a href="contato.html">Contato</a>
</header>

<body>
    <p>Esse site irá lhe apresentar alguns aviões famosos na aba Avioes, a História da Aviação na aba História e lhe
        dará o nosso contato para
        podermos conversar sobre a Aviação no nosso mundo, qualquer dúvida acesse a página Contato e tenha um bom dia.
    </p>
</body>

</html>